[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-cello-committers
	read = group GitHub Replication
[project]
	description = Analytics features for Cello platform
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-cello-committers
	pushTag = group ldap/hyperledger-gerrit-cello-committers
	pushSignedTag = group ldap/hyperledger-gerrit-cello-committers
