[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-cello-committers
	read = block group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-cello-committers
[project]
	description = Analytics features for Cello
	state = read only
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-cello-committers
	createTag = group ldap/hyperledger-gerrit-cello-committers
	createSignedTag = group ldap/hyperledger-gerrit-cello-committers
